<div>
    <h3>Projet</h3>
    <a [routerLink]="['/']" class="link">Accueil</a>
    <br><br>
    <a [routerLink]="['/produits']" class="link">Produits</a>
    <br><br>
    <a [routerLink]="['/panier']" class="link">Panier</a>
    <br><br>
    <a [routerLink]="['/profil']" class="link">Profil</a>
    <br><br>
    <a [routerLink]="['/connexion']" class="link">Connexion</a>
    <br><br>
    <!-- <button class="" (click)="login()">Login</button><br> -->
    <span>Taille du panier : {{nbElementPanier}}</span>
    <hr>
</div>

